@page
@model RehabAid.Web.Pages.aboutModel
@{
}
@{
    Layout = "_BlankLayout";
}

<div class="picture">
    <div class="container">
        <div class="row-about">
            <div id="overlay-card">
                <article id="main-col">
                    <br />
                    <h1 class="page-title">About us</h1>
                    <p>
                        RehabAid is an internet platform that aims at bridging the gap
                        between addiction treatment facilities, addicts and their guardians
                        by providing comprehensive information about available facilities
                        and their acceptance criteria. Rehabilitation facilities can carry
                        out their day to day record keeping while guardians keep track of
                        their loved ones’ progress.
                    </p>
                    <br />
                    <p class="dark">
                        RehabAid supports numerous facilities. It provides a one stop shop
                        for those seeking addiction rehabilitation as it provides detailed
                        and up-to-date information about the available facilities. Guardians
                        are notified of the progress reports via email as soon as they are
                        updated.
                    </p>
                </article>
            </div>


            <aside id="sidebar">
                <div class="dark">
                    <h3>Contact Us</h3>
                    <p>Bulawayo, Zimbabwe</p>
                    <p>+263782148480</p>
                    <p>rehabaid@gmail.com</p>
                    <p>rogueone@gmail.com</p>
                </div>
            </aside>
        </div>

    </div>

</div>
