@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (User.IsGuardians())
{ 
    <ul class="side-list">

        <li><i class="fa fa-newspaper-o"></i><span class="d-none d-sm-inline">&nbsp;Dashboard</span></li>
        <li><i class="fa fa-files-o"></i><span class="d-none d-sm-inline">&nbsp;<a asp-area="Facilities" asp-page="/Guardian/ProgressReports/Index">Progress Reports</a></span></li>

        @*<li><i class="fa fa-user-md"></i><span class="d-none d-sm-inline">&nbsp;<a asp-area="Facilities" asp-page="/MedicineLogs/Index">Medicine</a></span></li>*@

        @*<li><i class="fa fa-user-md"></i><span class="d-none d-sm-inline">&nbsp;<a href="doctors.html">Specialists</a></span></li>*@

        <li><i class="fa fa-question-circle"></i><span class="d-none d-sm-inline">&nbsp;Help</span></li>
        <li><i class="fa fa-gear"></i><span class="d-none d-sm-inline">&nbsp;Settings</span></li>
    </ul>
}