@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (User.IsStaff())
{
<ul class="side-list">
    <li><i class="fa fa-newspaper-o"></i><span class="d-none d-sm-inline">&nbsp;Dashboard</span></li>
    <li><i class="fa fa-bed"></i><span class="d-none d-sm-inline">&nbsp;<a asp-area="Facilities" asp-page="/Patients/Index">Patients</a></span></li>
    <li><i class="fa fa-user-md"></i><span class="d-none d-sm-inline">&nbsp;<a asp-area="Facilities" asp-page="/Specialists/Index">Specialists</a></span></li>
    <li><i class="fa fa-group"></i><span class="d-none d-sm-inline">&nbsp;<a asp-area="Facilities" asp-page="/Staffs/Index">Staff</a></span></li>
    <li><i class="fa fa-group"></i><span class="d-none d-sm-inline">&nbsp;<a asp-area="Facilities" asp-page="/Guardian/Index">Guardians</a></span></li>
    <li><i class="fa fa-files-o"></i><span class="d-none d-sm-inline">&nbsp;<a asp-area="Facilities" asp-page="/Guardian/ProgressReports/Index">Progress Reports</a></span></li>
    <li><i class="fa fa-list-alt"></i><span class="d-none d-sm-inline">&nbsp;<a asp-area="Facilities" asp-page="/Reservations/Index">Reservations</a></span></li>
    <li><i class="fa fa-medkit"></i><span class="d-none d-sm-inline">&nbsp;<a asp-area="Facilities" asp-page="/MedicineLogs/Index">Medicine</a></span></li>
    <li><i class="fa fa-question-circle"></i><span class="d-none d-sm-inline">&nbsp;Help</span></li>
    <li><i class="fa fa-gear"></i><span class="d-none d-sm-inline">&nbsp;Settings</span></li>
</ul>
    }